p {
  color: rgb(89, 0, 255);
}

.hero-text {
  font-family: fantasy;
  color: rgb(17, 227, 122);
  background-color: rgb(194, 18, 18);
}

body {
  background-color: rgb(169, 205, 24);
  scroll-behavior: smooth;
}

#notice {
  font-size: 2rem;
}
