p {
  color: rgb(89, 0, 255);
}

.hero-text {
  font-family: fantasy;
  color: rgb(230, 111, 15);
  background-color: rgb(194, 18, 18);
}

body {
  background-color: rgb(22, 183, 227);
  scroll-behavior: smooth;
}

#notice {
  font-size: 2rem;
}
